@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  /* background-color: #2c2c2c; */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

.label-style {
  @apply text-[14px] text-richblack-5;
}

.yellowButton {
  @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[6px] font-semibold text-richblack-900;
}

.blackButton {
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[6px] font-semibold text-richblack-5;
}



.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#ffffff 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#ffffff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}
